.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  background-color: #2d2d38;
}

.title {
  font-size: 0.9rem;
  color: rgb(201, 201, 201);
}
.info {
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
}
