.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.subItemsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.itemContainer {
  display: flex;
  padding: 6px 8px;
  cursor: pointer;
  margin: 6px 4px;
  border-radius: 4px;
  align-items: center;
  gap: 6px;
}

.itemContainer.selected {
  background-color: #21222c;
}

.item {
  font-size: 1.1rem;
  font-weight: 500;
}
.item.selected {
  font-weight: 800;
}
